body{
    background-color: grey;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#img-div {
    max-width: 100%;
    background: white;
    padding: 10px;
    margin: 0;
}

#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
<<<<<<< HEAD
=======
#tribute-link{
    font-size: 25px;
font-weight: 800;
}
>>>>>>> f198be7069d5ba611508f3cafecdf66f5a3c8f1e
