body{
    background-color: #EEEE;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
#img-div {
    display:block;
    width: 100%;
    height: 780px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    max-width: 300em;
    max-width: 100%;
    background: white;
    padding: 10px;
    margin: 0;
    margin-bottom: 50px;

}

#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
#tribute-link{
    font-size: 25px;
font-weight: 800;
margin-bottom: 50px;

}
#text_contaner{
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img-caption{
    margin-bottom: 50px;
}
