body{
    background-color: grey;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#img-div {
    max-width: 300em;
}

#image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
#tribute-link{
    font-size: 25px;
    font-weight: 800;
}